.App {
    background-color: #282c34;
    height: 100vh;
    color: white;
    box-sizing: border-box;
    position: relative;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;

}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.arrow {
    position: absolute;
}

.shipDisplay {
    width: 400px;
    height: 400px;
    border: 2px solid #ffffff;
    vertical-align: top;
    alignment: left;
}