.console {
    flex: 1 1 auto;
    resize: none;
    background: #000030;
    color: #ffffff;
    outline: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    box-sizing: border-box;
    text-align: left;
    border: #aaaaaa solid 1px;
    padding: 5px;
    overflow-y: scroll;
}

.consoleInput {
    flex: 1 1 auto;
    resize: none;
    background: #000030;
    color: #ffffff;
    outline: none;
    box-sizing: border-box;
    border: #aaaaaa solid 1px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 5px;
    margin: auto;
}

button.consoleBtn {
    width: 75px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #ffffff;
    border: white solid 1px;
    background: #000040;
    outline: none;
}

button.consoleBtn:active{
    background: #000030;
    border-color: #777777;
    color: #777777;
}

.consoleCtrls {
    display: flex;
    flex: 0 1 auto;
}

.consoleBox {
    box-sizing: border-box;
    padding: 10px;
    background: #002040;
    border: #aaaaaa solid 1px;
    border-radius: 10px;
    display: inline-flex;
}

.consoleContainer {
    width: 50vw;
    height: 50vh;
    flex: 1 1 auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

button.minimizeBtn {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: url("/arrow.png");
    background-size: contain;
    outline: none;
}

button.minimizeBtn:active {
    background: url("/arrow_active.png");
    background-size: contain;
}